*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --Almost-White: 0 0% 98%;
    --Medium-Gray: 0 0% 41%;
    --Almost-Black: 0 0% 8%;
}

body {
    min-height: 100vh;
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
}

body,
h1,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

button {
    font: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.flow>*+* {
    margin-top: var(--gap, 1rem);
}

/* ------------------------------------ */
/* ------------ Navigation  ------------*/
/* ------------------------------------ */

header {
    position: relative;
    display: flex;
    align-items: flex-start;
}

nav {
    /* display: flex; */
    flex-grow: 1;
    font-size: 14px;
}

.logo {
    margin: 1.5rem 2.3rem 1.5rem clamp(1.5rem, 4vw, 3rem);

}

#navigation {
    display: flex;
    flex-grow: 1;
    margin-block: 2rem;
    padding-inline: 2.5rem;
}

.nav-item {
    position: relative;
    padding: .8em 1.4em;
}

.nav-item a {
    text-decoration: none;
    color: hsl(var(--Almost-Black));
}


.icon {
    display: inline-block;
    width: .5rem;
    margin-left: .4em;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-arrow {
    background-image: url(images/icon-arrow-down.svg);
}

.nav-item[aria-expanded="true"] > button span {
    background-image: url(images/icon-arrow-up.svg);
}

.login-btn {
    margin-left: auto;
}

.register-btn {
    padding: 0;
    margin-left: 2.5rem;
    
}

.register-btn a{
    display: inline-block;
    padding: .8em 1.4em;
    border: 1px solid hsl(var(--Medium-Gray));
    border-radius: .7em;
}

.toggle-nav {
    display: none;
}


/* ----------- Dropdown ------ */

.dropdown {
    position: absolute;
    top: 100%;
    /* mouseevent ignore / unclickable */
    pointer-events: none;
    padding: 1rem;
    border-radius: .4em;
    box-shadow: 0 0 30px 2px hsl(var(--Medium-Gray) / .2);
    transition: 150ms ease-in;
    translate: 0 -20%;
    opacity: 0;
}

.dropdown--feature {
    right: 1em;
}

.dropdown:not(.dropdown--feature) {
    min-width:76px;
}

.dropdown[aria-visible="true"] {
    translate: 0;
    pointer-events: unset;
    opacity: 1;
}

.dropdown a {
    display: flex;
    align-items: center;

}

.dropdown .icon {
    /* overwriite l-margin from arrow */
    margin-left: 0;
    margin-right: .6em;
    width: 2rem;
    aspect-ratio: 1rem;
}


.icon-calander {
    background-image: url(images/icon-calendar.svg);
}

.icon-todo {
    background-image: url(images/icon-todo.svg);
}

.icon-reminder {
    background-image: url(images/icon-reminders.svg);
}

.icon-planning {
    background-image: url(images/icon-planning.svg);
}



@media (max-width:65rem) {
    #navigation {
        position: fixed;
        inset: 0 0 0 35%;
        flex-direction: column;
        margin-block: 0;
        padding: 1rem;
        padding-top: max(4rem, 15vh);
        background-color: #fff;

        translate: 100% 0;
        transition: 300ms ease-in;
    }

    #navigation[aria-visible="true"] {
        translate: 0;
    }

    .login-btn,
    .register-btn {
        margin: .5rem 0;
        text-align: center;
    }

    .toggle-nav {
        position: absolute;
        top: 1.5rem;
        right: 2rem;
        z-index: 10000;

        display: block;
        border: none;
        background-color: transparent;
        background-image: url(images/icon-menu.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 1.5rem;
        aspect-ratio: 1;
    }

    .toggle-nav[aria-expanded="true"] {
        background-image: url(images/icon-close-menu.svg);
    }

    .dropdown {
        position: relative;
        top: .5em;
        padding: 0;
        max-height: 0;
        box-shadow: none;
        
        translate: 0;
        transform-origin: bottom;
        transition: translate 150ms ease-in;
        overflow: hidden;
        opacity: 1;
    }


    .dropdown--feature {
        right: 1em;
    }

    .dropdown[aria-visible="true"] {
        padding-block: .7rem;
        padding-left: 2rem;
        max-height: unset;
    }
}

@media (min-width:65rem) {
    header {
        align-items: center;
    }
}

/* --------------------------------- */
/* -------- layout and text -------- */
/* --------------------------------- */

main {
    display: grid;
    grid-template-areas:
        'img'
        'txt';
    text-align: center;
    row-gap: 3rem;
    margin-bottom: 4rem;
}

.text-wrapper {
    grid-area: txt;
    padding: 1rem;
}

/* .text-wrapper :not(:first-child) */
.text-wrapper>*+* {
    margin-top: 3rem;
}

.image-wrapper {
    grid-area: img;
}

.image-wrapper img {
    margin-inline: auto;
}

h1 {
    font-size: clamp(2rem, 6vw + 1rem, 5rem);
}

.discription {
    line-height: 1.6;
    max-width: 500px;
    margin-inline: auto;
}


@media (min-width: 55rem) {
    main {
        text-align: left;
        display: grid;
        padding-block: 1.6rem;
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 580px) minmax(15%, 480px) minmax(1rem, 1fr);
        grid-template-areas:
            " ... txt img ...";
        gap: 4rem;
        margin-top: 1rem;
    }

    h1 {
        max-width: 540px;
        margin-top: clamp(3rem, 7vw, 6rem);
    }

    .discription {
        margin-inline: unset;
    }

    .image-wrapper {
        display: flex;
        align-items: center;
    }
}


main button {
    padding: 1rem 1.6rem;
    background-color: hsl(var(--Almost-Black));
    color: rgb(216, 212, 205);
    border: none;
    border-radius: .6em;
}

.brands {
    margin-top: clamp(3rem, 4vw, 6rem);
    display: flex;
    justify-content: space-around;
}

.brands div {
    display: grid;
    place-items: center;
}

footer {
    position: absolute;
    left: 50%;
    translate: -50%;
}
