*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
}

body {
    min-height: 100vh;
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
}

body,
h1,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

button {
    font: inherit;
}

/* ------------------------------------ */
/* ------------ Navigation  ------------*/
/* ------------------------------------ */

header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 2rem 3.5rem;
}

nav {
    flex-grow: 1;
}

.logo {
    margin-right: 2.3rem;
}

#navigation {
    display: flex;
    flex-grow: 1;
}

.nav-item {
    padding: .8em 1.4em;
}

.nav-item a {
    text-decoration: none;
    color: var(--Almost-Black);
}

.icon {
    display: inline-block;
    width: .5rem;
    margin-left: .2em;
    aspect-ratio: 1;
    /* background-color: red; */
    background-image: url(images/icon-arrow-down.svg);
    background-repeat: no-repeat;
    background-position:  center;
}

.login-btn {
    margin-left: auto;
}

.register-btn {
    border: 1px solid var(--Medium-Gray);
    border-radius: .7em;
    margin-left: 2.5rem;
}

.toggle-nav {
    display: none;
}


@media (max-width:65rem) {
    #navigation {
        position: fixed;
        inset: 0 0 0 35%;
        flex-direction: column;
        background-color: #fff;
        padding: 1rem;
        padding-top: max(4rem, 15vh);
        translate: 100% 0;
        transition: 300ms ease-in;
    }

    #navigation[aria-visible="true"] {
        translate: 0;
    }

    .login-btn,
    .register-btn {
        margin: .5rem 0;
        text-align: center;
    }

    .toggle-nav {
        position: absolute;
        top: 2rem;
        right: 2rem;
        z-index: 10000;

        display: block;
        background-color: transparent;
        background-image: url(/images/icon-menu.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 1rem;
        aspect-ratio: 1;
    }

    .toggle-nav[aria-expanded="true"] {
        background-image: url(/images/icon-close-menu.svg);
    }
}


/* --------------------------------- */
/* -------- layout and text -------- */
/* --------------------------------- */

main {
    display: grid;
    grid-template-rows:
        'img',
        'txt';
    text-align: center;
    row-gap: 3rem;
    margin-bottom: 4rem;
}

.text-wrapper {
    grid-area: txt;
    padding: 1rem;
}

/* .text-wrapper :not(:first-child) */
.text-wrapper>*+* {
    margin-top: 3rem;
}

.image-wrapper {
    grid-column: img;
}

h1 {
    font-size: clamp(2rem, 6vw + 1rem, 5rem);
    margin-top: clamp(0rem, 4vw, 5rem);
}

.discription {
    line-height: 1.6;
}

@media (min-width: 35rem) {
    .image-wrapper img {
        /* max-width: 60%; */
        margin-inline: auto;
    }
}

@media (min-width: 55rem) {
    main {
        text-align: left;
        display: grid;
        padding-block: 1.6rem;
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 580px) minmax(20%, 480px) minmax(1rem, 1fr);
        grid-template-areas:
            " ... txt img ...";
        gap: 4rem;
    }

    h1 {
        max-width: 540px;
    }

    .discription {
        max-width: 400px;
    }

    .image-wrapper {
        display: flex;
        align-items: center;
    }
}


button {
    padding: 1rem 1.6rem;
    background-color: var(--Almost-Black);
    color: rgb(216, 212, 205);
    border: none;
    border-radius: .6em;
}

.brands {
    margin-top: clamp(4rem, 6vw, 9rem);
    display: flex;
    justify-content: space-around;
}

footer {
    position: absolute;
    left: 50%;
    translate: -50%;
}